<launch>
    <node name="gui" pkg="turtlesim" type="turtlesim_node"/>
    <node name="dynamics" pkg="turtle" type="dynamics.py">
        <param name="mass" value="0.5" />
        <param name="gamma" value="0.01" />
        <param name="moment_inertia" value="0.1" />
    </node>
    <node name="program" pkg="turtle" type="square_pid.py">
        <param name="speed" value="1" />
        <param name="k_p" value="1" />
        <param name="k_i" value="0" />
        <param name="k_d" value="0" />
    </node>
</launch>
